doctype html
html
  head
    title= 中华小当家
    meta(charset="utf-8")
    mrta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet",href="/stylesheets/global.css")
    link(rel="stylesheet",href="/stylesheets/mine.css")
  body
     block header
     block content
     script(src="/javascripts/jquery.min.js")
     script(src="/javascripts/bootstrap.min.js")




